/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
  --neutral-white: #fffafb;
  --neutral-black: #050505;
  --neutral-gray: #4a4a4a;
  --primary: #24126a;
  --primary-lighter: #3d2892;
  --secondary: #1ac3c3;
  --secondary-lighter: #16e0e0;
  --accent: #f55d3a;
  --paddingX: 5.2rem;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 50%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
html,
body,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}
input[type="text"],
input[type="submit"] {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 1rem;
  margin: 0;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: var(--neutral-white);
  background-color: var(--neutral-black);
  background-image: url("../images/spookyhouse.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.8rem;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-lighter);
  padding: 4rem 0;
}
.nav-logo {
  font-size: 2.4rem;
  font-weight: 600;
}
.nav-logo span {
  color: var(--accent);
}

.nav-list {
  display: flex;
  gap: 2.8rem;
}
.nav-list a {
  color: var(--primary-lighter);
}
.nav-list a:hover {
  color: var(--accent);
  filter: drop-shadow(0 0 1rem var(--accent));
}

.nav-toggle {
  position: absolute;
  top: 5rem;
  right: 2.4rem;
  display: none;
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-list {
    display: none;
    position: relative;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .nav-list.active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 1.6rem;
    margin-top: 2rem;
  }
}

/* HERO SECTION */

.hero > div {
  height: calc(100vh - 11.6rem);
  display: flex;
  padding-top: 5.2rem;
}
.hero-text {
  flex: 1;
  color: var(--primary-lighter);
  text-shadow: -0.2rem 0.2rem 1rem black;
  padding-bottom: 5rem;
  align-self: end;
  text-align: center;
}

.hero-text h2 {
  padding-bottom: 2.4rem;
}
.hero-text span {
  color: var(--accent);
}

.hero figure {
  flex: 1;
  text-align: right;
  display: none;
}

.hero img {
  width: 24rem;
  height: auto;
}
.hero-button {
  color: var(--accent);
  outline: 0.2rem solid var(--accent);
  padding: 0.5rem;
  border-radius: 9999rem;
  filter: drop-shadow(0 0 2rem var(--accent));
}
.hero-button:hover {
  color: var(--neutral-white);
  outline: 0.2rem solid var(--neutral-white);
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--primary-lighter);
  text-shadow: -0.2rem 0.2rem 1rem black;
}
.title span {
  color: var(--accent);
}

/* STORIES SECTION */
.stories,
.authors {
  background-color: rgba(5, 5, 5, 0.6);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.story {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 70%;
}
.story-text {
  display: flex;
  flex-direction: column;

  text-shadow: -0.2rem 0.2rem 1rem black;
  gap: 1rem;
}
.story-text h3 {
  color: var(--accent);
}
.story img {
  border-radius: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
  height: auto;
  width: 18rem;
}
/* AUTHOR SECTION */

.authors span {
  color: var(--accent);
}
.authors-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}
.authors-list h3 {
  color: var(--primary-lighter);
}
.authors-list img {
  transition: filter 0.3s ease-in-out;
}

.authors-list img:hover {
  filter: drop-shadow(0 0 1rem var(--accent));
}

/* FOOTER */

.copyright {
  text-align: center;
}

.contact {
  background-color: var(--neutral-black);
  padding: 2rem;
}
.contact-email {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  justify-content: center;
}
.contact-email h2 {
  color: var(--accent);
}
.contact-email .button {
  background-color: var(--primary-lighter);
  padding: 1rem;
  margin-top: 1rem;
  color: var(--neutral-white);
}
.contact-email .box {
  border: 0.2px solid var(--primary-lighter);
  color: var(--neutral-white);
  width: auto;
}
.copyright {
  font-size: 1.2rem;
}
.space {
  height: 20rem;
}

/* ==============Responsive======== */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 5.2rem;
  }
  .hero figure {
    display: block;
  }
  .hero-text {
    text-align: start;
  }

  .story2 figure {
    order: 1;
  }
  .authors-list {
    flex-direction: row;
  }
  .contact-email {
    flex-direction: row;
  }
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .story {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
